{% extends 'base.html' %}

{% block buttons %}

{% endblock buttons %}

{% block pageContent %}
<section id="home_page" style="margin: 10px auto;">

	<!-- The Initiatives container -->
	<div class="container" id="initiatives">
		<div class="card" style="border:none;">
			<div class="card-header text-center" style="background-color: #fff; text-transform: uppercase; border-bottom: none;">
				<h3>Our Initiatives</h3>
			</div><!-- Card  -->
			<div class="card-body">
				<div class="content">
					<div class="row" id="initiatives">
						<div class="col-md-4">
							<div class="inner text-center">
								<a href="{% url 'medications' %}#content">
									<img src="{{MEDIA_URL}}images/medication.png" class="circle img-fluid" width="50%">
								</a>
								<div class="clear-fix" style="padding-bottom: 20px;"></div>
								<h5 style="text-transform: uppercase;">Animal Medication</h5>
								<p>Please contact us if you find any stray animal in bad condition, we will rescue them</p>
							</div><!-- Inner -->
						</div><!-- First Column -->
						<div class="col-md-4">
							<div class="inner text-center">
								<a href="{% url 'adoptions' %}#content">
									<img src="{{MEDIA_URL}}images/adoption_new.png" class="circle img-fluid" width="50%">
								</a>
								<div class="clear-fix" style="padding-bottom: 15px;"></div>
								<h5 style="text-transform: uppercase;">Pet Adoption</h5>
								<p>Our animals need their parents, where they can be treated like a child. Where they can get the love they deserve</p>
							</div><!-- Inner -->
						</div><!-- Second Column -->
						<div class="col-md-4">
							<div class="inner text-center">
								<a href="{% url 'donations' %}#content">
									<img src="{{MEDIA_URL}}images/donation_new.png" class="circle img-fluid" width="50%">
								</a>
								<div class="clear-fix" style="padding-bottom: 15px;"></div>
								<h5 style="text-transform: uppercase;">Support this Cause</h5>
								<p>Please support our mutual cause,it's our moral responsibility to protect our ancestors</p>
							</div><!-- Inner -->
						</div><!-- Third Column -->
					</div><!-- Row -->
				</div><!-- Content -->
			</div><!-- Card Body -->
		</div><!-- The Card -->
	</div><!-- Initiative Container -->

	<!-- BUY A TSHIRT SUPPORT SECTION -->
	<div class="container" style="padding: 50px auto 50px auto;">
		<div class="card" style="background-color: #1c1c3c; border: none;">
			<div class="card-header text-center" style="font-size: 0.9em; text-align: center; text-transform: uppercase;">
				<h5 style="font-weight: bold; font-color: black;">Support Our Mutual Cause to Help Animals</h5>
			</div><!-- Support Header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<div class="content" style="text-transform: uppercase; font-weight: bold; text-align: center;">
							<h5 style="">Buy FFA T-Shirt to spread the word</h5>
							<p>This valuable support of you would be changing the way people thinks and gave back</p>
						</div><!-- Content -->
					</div><!-- Motivating slogns -->
					<div class="col-md-5">
						<div id="carouselTShirt" class="carousel slide" data-ride="carousel">
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block w-100" src="{{MEDIA_URL}}tshirt_front.jpg" alt="First slide">
						    </div>
						    <div class="carousel-item">
						      <img class="d-block w-100" src="{{MEDIA_URL}}tshirt_back.jpg" alt="Second slide">
						    </div>
						 
						  </div>
						</div>
					</div><!-- TSHIRT DEsription Section -->
						<div class="content"></div>
					<div class="col-md-3">
						<div class="buy_buttons">
							<a href="" class="btn btn-warning" style="display: block; background-color: #a23609; text-decoration: none;">Pre-Order Now</a>
							<br style="padding: 20px auto;">
							<a href="" class="btn btn-warning" style="display: block; background-color: #a23609; text-decoration: none;">Have A Query? Ask Now</a>
						</div><!-- Buy Buttons -->
					</div><!-- Buy Option -->
				</div><!-- Row Class -->
			</div><!-- Support Content -->
		</div><!-- Card -->
	</div><!-- TSHIRT SUPPORT SECTION -->

	<div class="container" style="margin: 10px auto;" id="programs">
		<div class="card" style="background-color: #fff; border: none;">
			<div class="card-header text-center" style="background-color: #fff; border-bottom: none; text-transform: uppercase; font-weight: bold; font-color: #fff;">
				<h4>Our Programs</h4>
			</div><!-- Card Header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<div class="content">
							<div class="image text-center" style="font-size: 0.9em; text-transform: uppercase; text-align: center;">
								<a href="{% url 'events' %}#content"><img src="{{MEDIA_URL}}images/helping_hand.png" class="img-fluid circle" width="100%"></a>
								<h5 style="font-weight: bold;">Helping Hand</h5>
								<p>Helping others is our moral duty as a human being.</p>
							</div><!--  -->
						</div><!-- Content -->
					</div><!-- The Helping Hand -->
					<div class="col-md-4">
						<div class="content">
							<div class="image text-center" style="font-size: 0.9em; text-transform: uppercase; text-align: center;">
								<a href="{% url 'events' %}#content"><img src="{{MEDIA_URL}}images/awareness.png" class="img-fluid circle" width="100%"></a>
								<h5 style="font-weight: bold;">Awareness</h5>
								<p>Together We can change attitude. Learn More, Share knowledge and take action, together we can spread the love</p>
							</div><!--  -->
						</div><!-- Content -->
					</div><!-- The Awareness Program -->
					<div class="col-md-4">
						<div class="content">
							<div class="image text-center" style="font-size: 0.9em; text-transform: uppercase; text-align: center;">
								<a href="{% url 'events' %}#content"><img src="{{MEDIA_URL}}images/campaign.png" class="img-fluid circle" width="70%"></a>
								<h5 style="font-weight: bold;">Campaining</h5>
							</div><!--  -->
						</div><!-- Content -->
					</div><!-- The Campaign Programs -->
				</div><!-- The 3 items row -->
			</div><!-- Card Body -->
		</div><!-- Programs Card -->	
	</div><!-- The Programs Container -->

	<!-- SHOP THROUGH US AND SUPPORT US SEction -->

	
</section><!-- Home Page Content -->
{% endblock pageContent %}